{% extends 'info/base.html' %}
{% load static %}
{% block title %}Patient Data{% endblock title %}

<!-- Header -->
{% block header %}
{% include 'home/navbar.html' %}
{% endblock  %}

{% block content %}
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center info my-5 py-4">
                <h1 class="font-weight-bold header">List of Patients Registered</h1>
                <hr>
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        {% for patient in patients %}
            <div class="card mt-3">
                <div class="card-body d-flex justify-content-between flex-column flex-md-row">
                    <div>
                        <a href="{% url 'info:patient_details' patient.id %}">
                            <h5 class="card-title">{{ patient.name }}</h5>
                        </a>
                        <h6 class="card-subtitle mb-2 text-muted">{{ patient.age }} ({{ patient.sex }})</h6>
                    </div>
                    <form action="{% url 'info:delete_patient' patient.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger card-link mt-2 mr-md-4 align-self-center" type="input">
                            DELETE
                        </button>
                    </form>    
                </div>
            </div>
        {% endfor %}

        {% if is_empty %}
            <div class="container d-flex h-100">
                <div class="row align-self-center w-100">
                <div class="col-lg-4 col-md-6 col-sm-6 mx-auto">
                    <div class="container" align="center">
                        <h3>Patient Empty</h3>
                        <p class="lead">Add a patient and it will show up here.</p>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}