{% extends 'info/base.html' %}
{% load static %}
{% block title %}Total Cases{% endblock title %}

<!-- Header -->
{% block header %}
{% include 'home/navbar.html' %}
{% endblock  %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center info my-5 py-4">
                <h1 class="font-weight-bold header">COVID-19 cases in Indonesia</h1>
                <hr>
            </div>
        </div>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Provinsi</th>
                    <th>Kasus Positif</th>
                    <th>Kasus Sembuh</th>
                    <th>Kasus Meninggal</th>
                </tr>
            </thead>
            <tbody>
                {% for data in semua_data %}
                    <tr>
                        <td>{{ data.provinsi }}</td>
                        <td>{{ data.kasus_positif }}</td>
                        <td>{{ data.kasus_sembuh }}</td>
                        <td>{{ data.kasus_meninggal }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}