body {
  background: linear-gradient(to right, #79d1ca, #c9e7e9);
}

.content {
  margin: 8%;
  background-color: #ffffff;
  padding: 4rem 1rem 4rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.btn-class {
  border-color: #00ac96;
  color: #00ac96;
}

.btn-class:hover {
  background-color: #00ac96;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-color: #00ac96;
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 0px;
  color: #495057;
  height: auto;
  background-color: #ffffff;
  background-clip: padding-box;
}

.form-control:focus {
  color: #495057;
  background-color: #ffffff;
  border-color: #ffffff;
  outline: 0;
  box-shadow: none;
}

.requiredField {
  font-weight: 600;
  font-size: 1rem;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}
