{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css_tambahan %}
<link rel="stylesheet" href="{% static 'login_register/styles.css' %}"> 
{% endblock css_tambahan %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
<div class="container">
    <div class="row content">
        <div class="col-md-6 mb-3">
            <img src="{% static 'login_register/images/sign-up.png' %}"  class="img-fluid" alt="image">
        </div>
        <div class="col-md-6">
            <h4 class="login-text mb-4">Create a new account</h4>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-class">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}