{% extends 'form/base.html' %}
{% load static %}

<!-- Title -->
{% block title %}Success!{% endblock title %}

<!-- Header -->
{% block header %}
{% include 'home/navbar.html' %}
{% endblock  %}

<!-- Content -->
{% block content %}
    <div class="container d-flex h-100">
        <div class="row align-self-center w-100">
          <div class="col-lg-4 col-md-6 col-sm-6 mx-auto">
            <div class="container" align="center">
              <h3>FORM SAVED!</h3>
              <a class="btn btn-success btn-xl my-4" href="{% url 'home:index' %}">Go Home</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
